% -*- mode: erlang -*-

% Options to pass into compiler during compile-time.
{erl_opts, [
     debug_info ,      % Compile with Debug information for now.
     fail_on_warrning  % We don't even want to have warnings.
    ]}.

{sub_dirs, ["rel"]}.

% When debugging, check our test coverage too.
{cover_enabled, true}.

{deps, [ 
    {swarm, ".*",
        {git, "git://github.com/dstar4138/swarm.git", {branch,"master"}}},
    {jsonx,".*", 
       {git, "git://github.com/iskra/jsonx.git", {branch, "master"}}}
]}.
